<a href="https://colab.research.google.com/github/SavelevGeo/ics_lookup/blob/main/ics_request" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Geological Timescale look-up
Get a time period from the International Chronostratigraphic Charts
for a given age in Ma.<br>Ages are taken for ICSC version of 2018 year
hosted by
https://github.com/CSIRO-enviro-informatics/interactive-geological-timescale


This notebook is a part of the project with the code hosted https://github.com/SavelevGeo/ics_lookup

In [ ]:
#@title Set up the environment (needed to be run once the notebook is started) { run: "auto", vertical-output: true, display-mode: "form" }
import requests
import pandas as pd
from google.colab import data_table
data_table.enable_dataframe_formatter()
ages_url = 'https://raw.githubusercontent.com/CSIRO-enviro-informatics/' \
            + 'interactive-geological-timescale/master/' \
            + 'src/assets/time_interval_data.json'
r = requests.get(ages_url)
ages = r.json()
def strat2018(lookup_age: float) -> list:
    '''
    Return a time period from the International Chronostratigraphic Charts
    for a given age in Ma. Ages are taken for ICSC version of 2018 year
    hosted by
    https://github.com/CSIRO-enviro-informatics/interactive-geological-timescale

    The return type is `list` of `list`s for a straton of every level,
    containing the given age
    '''
    l = []
    for a in ages.items():
        name, start, end = a[0].split('/')[-1], \
                           a[1]['hasBeginning'], a[1]['hasEnd']
        if lookup_age <= start and lookup_age >= end:
            l.append([name, start, end, round(start - end, 1)])
    return sorted(l, key=lambda r:r[3])

In [ ]:
#@title Type in the age in Ma { run: "auto", vertical-output: true, display-mode: "form" }
age =  450#@param {type:"number"}

df = pd.DataFrame(strat2018(age),
                  columns=['stratigraphic unit',
                           'from (Ma)', 'to (Ma)', 'duration(Ma)'])
df.set_index('stratigraphic unit')

                    from (Ma)  to (Ma)  duration(Ma)
stratigraphic unit
Katian                  453.0  445.200           7.8
UpperOrdovician         458.4  443.800          14.6
Ordovician              485.4  443.800          41.6
Paleozoic               541.0  251.902         289.1
Phanerozoic             541.0    0.000         541.0